@import url('/css/user/root.css');
input {
  padding: 5px;
}
.quantity-input{
  width: 25px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.cart-section .list {
  width: 60%;
}
.table-header th {
  background-color: beige;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
table i {
  color: bisque;
  cursor: pointer;
}
.total {
  background-color: beige;
  width: 350px;
  height: 350px;
  text-align: center;
}
.total .container{
  height: 100%;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.total-payment-cash{
  color: chocolate;
}
.total-cash {
  font-size: 0.8rem;
}
.total-title{
  font-weight: 500;
}
.btn-payment{
  border: 1px solid #000000;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}
.description{
  margin: 30px 0 ;
  padding: 30px 0;
  background-color: #FAF4F4;
  height: 150px;
  font-size: 1.2rem;
}
.description .text-bold{
  font-size: 2.2rem;
}
footer {
  height: 350px;
}
li{
  margin-top: 50px;
}
.newsletter {
  align-self: self-start;
  margin-top: 55px
}
.newsletter-input u{
  margin-left: 15px;
}
.newsletter-input input {
  border: none;
  border-bottom: 1px solid #000000;
}


