@import url('/css/user/root.css');

header {
  height: 100px;
  background-color: rgba(251, 235, 181, 1);
}

header img {
  height: 80px;
  width: 80px;
  margin-top: 10px;
  margin-left: 100px;
}

header .search {
  justify-content: center;
  margin-left: 245px;
}

header .search input {
  width: 620px;
  height: 50px;
  margin-top: 25px;
  border: none;
  outline: none;

}

header .search button {
  height: 50px;
  width: 50px;
  margin-top: 25px;
  margin-left: 0px;
  border: none;
  outline: none;
}

header .icon {
  margin-top: 30px;
  margin-left: 150px;
}

header .shopping, header .user {
  border: none;
  background-color: rgba(251, 235, 181, 1);
  height: 40px;
  width: 40px;
  font-size: 25px;
  outline: nonefind;
}

header .user {
  margin-left: 100px;
}

.bg-main {
  width: 1519.2px;
}

.container {
  margin: 50px 70px;
}
.checkout-form {
  margin: 30px 0;
  width: 50%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-title{
  font-size: 2rem;
  font-weight: bold;
}
form input, select {
  display:block;
  height: 40px;
  width: 350px;
  padding: 0 0 0 10px;
  border-radius: 5px;
  border: 0.5px solid #000000;
}
form select {
  width: 362px;
}
.checkout-form div {
  margin-top: 10px;
}

.checkout {
  width: 50%;
}
.checkout .payment-price {
  color: chocolate;
  font-size: 1.3rem;
  font-weight: bold;
}
.btn-payment {
  border: 1px solid #000000;
  padding: 10px 50px;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}
.description{
  margin: 30px 0 ;
  padding: 30px 0;
  background-color: #FAF4F4;
  height: 150px;
  font-size: 1.2rem;
}
.description .text-bold{
  font-size: 2.2rem;
}
footer {
  height: 350px;
}
li{
  margin-top: 50px;
}
.newsletter {
  align-self: self-start;
  margin-top: 55px
}
.newsletter-input u{
  margin-left: 15px;
}
.newsletter-input input {
  border: none;
  border-bottom: 1px solid #000000;
}

@media screen and (max-width: 800px) {
  .container{
    flex-direction: column;
  }
}